#
# Odoo service definition
# Included from the checkout task
#
[Unit]
Description=Odoo

[Service]
Type=simple
User={{ odoo_user }}
LimitNOFILE=16384
ExecStart={{ odoo_bin }}
TimeoutStopSec=5
KillMode=mixed
Restart=on-failure

#CapabilityBoundingSet=~CAP_SYS_ADMIN
KeyringMode=private
NoNewPrivileges=true
#IPAddressDeny=link-local
#PrivateDevices=true
#PrivateTmp=true
#ProtectControlGroups=true
ProtectKernelTunables=true
ProtectSystem=strict
#RemoveIPC=true
#RestrictNamespaces=true
#RestrictSUIDSGID=true
RestrictRealtime=true
ProtectClock=true
#ProtectHostname=true
ProtectKernelLogs=true
SystemCallFilter=@system-service

ProtectHome=read-only
ReadWritePaths=/home/{{ odoo_user }}/filestore /home/{{ odoo_user }}/log /tmp

[Install]
WantedBy=multi-user.target
